.services-outer{
background-image:url("../photos/services-background.jpg");
/* height: 400px; */
background-attachment: fixed;
background-repeat: no-repeat;
background-size:cover ;
/* background-position: bottom right; */
}

.services-outer .column{
    border: 1px solid white;
    height: 150px;
    /* width: inherit; */
    background-color: rgb(33, 33, 105);
    font-size: x-large;
    color: white;
    padding-top: 50px;
    margin: 30px 0px;
    border-radius: 30px;
}
.services-outer .column:hover{
    background-color:  rgb(206, 232, 255);
    color: black;
}

.services-inner{
    padding:60px;
}